<!DOCTYPE html>
<html>
    <head>
        <title>The Ledger</title>
        <link rel="stylesheet" href="/styles/skeleton.css">
        <link rel="stylesheet" href="/styles/normalize.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    </head>
    <body>

    Playground ready.
    </body>
    
    <footer class="main">
        <p>Powered by Vapor and Swift. Built by <a href="https://github.com/rustymagnet3000/theLedger">Rusty Magnet</a>.</p>
    </footer>
    
</html>
