<!DOCTYPE html>
<html>
<head>
	<title>The Ledger</title>
	<link rel="stylesheet" href="styles/app.css">
</head>
<body>
	<div class="wrapper">
		<h1 id="logo">The Ledger</h1>

		<nav class="main">
			<ul>
				<li><a href="/user/register">Register</a></li>
				<li><a href="/user/ledgerusers">All Users</a></li>
   				<li><a href="/skeleton">Skeleton</a></li>
			</ul>
		</nav>
	</div>
</body>

<footer class="main">
    <p>Powered by Vapor and Swift. Built by <a href="https://github.com/rustymagnet3000/theLedger">Rusty Magnet</a>.</p>
</footer>

</html>
